@using Microsoft.AspNetCore.Components.Web  @* for @onclick etc *@
@* @using Microsoft.JSInterop  --  invoke JS functions from .NET methods *@
@using Rationals.Explorer.Blazor
@using SkiaSharp.Views.Blazor

<h1>Hello World!</h1>
<p>Time: @DateTime.Now</p>
<button @onclick="Increment">Push me</button>
<p>Counter: @count</p>


<script>
// Prevent the default browser zoom
window.addEventListener('wheel', function (e) {
    if (e.ctrlKey) e.preventDefault();
}, { passive: false });
</script>


<div 
    @onkeydown="HandleKeyDown" @* !!! fix the focus after GUI *@
    @onkeyup="HandleKeyUp" >

    <SKCanvasView
        Style="@($"cursor: {currentCursor}; width:800px; height:600px;")"
        IgnorePixelScaling="true"
        OnPaintSurface="OnPaintSurface"

        @ref="skCanvas"
        @onmousemove="HandleMouseMove"
        @onmouseleave="HandleMouseLeave"
        @onpointerdown="HandlePointerDown"
        @onpointerup="HandlePointerUp"
        @onwheel="HandleWheel"

        />
</div>
