@using Microsoft.AspNetCore.Components.Web  @* for @onclick etc *@
@* @using Microsoft.JSInterop  --  invoke JS functions from .NET methods *@
@using Rationals.Explorer.Blazor
@using SkiaSharp
@using SkiaSharp.Views.Blazor

<h1>Hello World!</h1>
<p>Time: @DateTime.Now</p>

<button @onclick="Increment">Push me</button>
<p>Counter: @count</p>

<div @onmousemove="HandleMouseMove">
    @((MarkupString)svgMarkup)
</div>

<SKCanvasView
    Style="width:600px; height:300px;" 
    IgnorePixelScaling="true" 
    OnPaintSurface="OnPaintSurface" 

    @ref="skCanvas"
    @onmousemove="HandleCanvasMouseMove"
    @onmouseleave="HandleCanvasMouseLeave"
    @onpointerdown="HandleCanvasPointerDown"
    @onwheel="HandleCanvasWheel"

    />
